<div>
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目终审变更申请表</b></h2>
    <span style="margin-left:20px;float:left"><b>签报日期：{{ project_info.APPLY_DATE | dateFormat }}</b></span>
	<span style="margin-right:20px;float:right"><b>项目编号：{{ project_info.REGITEM_CODE }}</b></span>
    <table id="node_table">
        <tbody>
            <tr>
                <td width="15%">项目名称</td>
                <td width="35%">{{ project_info.REGITEM_NAME }}</td>
                <td width="15%">终审日期</td>
                <td width="35%"></td>
            </tr>
            <tr>
                <td>申报部门</td>
                <td>{{ project_info.REGITEM_DP_NAME }}</td>
                <td>责任经理</td>
                <td>{{ project_info.REGITEM_OP_NAME+','+project_info.OPER_MANAGER_NAME2 }}</td>
            </tr>
            <tr>
                <td>终审委员</td>
                {% if user =='' %}
                    <td colspan="3"> {{  json_data.b9b96f707d9b11e7a841000c294af360 }}</td>
                {% else %}
                    <td colspan="3"> {{ user }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>项目方案变更情况描述</td>
                <td colspan="3">{{ json_data.v9d0af4070e511e6935b184f32c16bca }}</td>
            </tr>
            <tr>
                <td>方案变更原因描述</td>
                <td colspan="3">{{ json_data.v9d0af4070e511e6935b184f32c16b11 }}</td>
            </tr>
            <tr>
                <td>项目方案变更的风险评估</td>
                <td colspan="3">{{ json_data.v9d0af4070e511e6935b184f32ca6bca }}</td>
            </tr>

            <tr>
                <td colspan="4" align="center">
                {% if affair_info.cur_version < 1.97 %}
                    {% if project_info.TYPE3 == '113801' %}
                        {% if project_info.TYPE1 == '2' %}
                        <a href="/x/intrustqlc/views/printXMQBBG?regitem_id={{ regitem_id }}&affa_id={{ affa_id }}">集合项目签报变更</a>
                        {% endif %}
                    {% endif %}
                        <a href="/x/intrustqlc/views/printZSBGSQB?regitem_id={{ regitem_id }}&affa_id={{ affa_id }}">终审变更申请表</a>
                {% endif %}
                {% if affair_info.cur_version > 1.97 %}
                    {% if project_info.GNFL == '114303' %}
                        <a href="/x/intrustqlc/views/printSWLXMQBBG?regitem_id={{ regitem_id }}&affa_id={{ affa_id }}">事务类项目签报变更</a>
                    {% endif %}
                    {% if project_info.GNFL != '114303' %}
                        <a href="/x/intrustqlc/views/printSWLXMQBBG?regitem_id={{ regitem_id }}&affa_id={{ affa_id }}">非事务类项目签报变更</a>
                    {% endif %}
                {% endif %}

                </td>
            </tr>

        </tbody>
    </table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>