<table id="node_table">
    <tbody>
        <tr>
            <td>项目编号</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>项目名称</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="2">事项</td>
            <td>负责部门</td>
            <td>业务部经办人</td>
            <td>业务部负责人</td>
            <td>合规风险部</td>
            <td>备注</td>
        </tr>
        <tr>
            <td>1</td>
            <td>信托项目是否已上会</td>
            <td>信托业务部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>是否向银监局报备（事前、关联、异地）</td>
            <td>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>担保措施及承诺函是否办理完全</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>交易文件签署是否齐备（主要合同及担保合同）</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>法律意见书</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>终审意见是否全部落实</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>是否取得东方总公司风险部业务额度批复意见（如需）</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>交易合同及有关法律文件是否面签（如需）</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>终审过会通知单是否批复</td>
            <td>信托业务部<br>合规风险部</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>其他</td>
            <td colspan="5">
                <table>
                    <thead>
                        <th>其他1</th>
                        <th>其他2</th>
                        <th>其他3</th>
                        <th>备注7</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="6">
                财富管理中心接收签字：<br>
                最终发行条件：<br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="6">
                公司领导审批：
            </td>
        </tr>
    </tbody>
</table>
<style type="text/css">
    #node_table {
        width: 700px;
        border: 1px solid black;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
</style>