<!--信托产品发行确认单-->
<table id="node_table">
    <tbody>
        <tr>
            <td width="200px" colspan="2">项目编号</td>
            <td width="750px" colspan="6">{{ project_info.REGITEM_NO }}</td>
        </tr>
        <tr>
            <td colspan="2">项目名称</td>
            <td colspan="6">{{ project_info.REGITEM_NAME }}</td>
        </tr>
        <tr>
            <td colspan="2">事项</td>
            <td width="100px">负责部门</td>
            <td width="100px">业务部经办人</td>
            <td width="100px">业务部负责人</td>
            <td width="100px">合规风险部</td>
            <td width="150px">备注</td>
        </tr>
        <tr>
            <td width="40px">1</td>
            <td width="160px">信托项目是否已上会</td>
            <td>信托业务部</td>
            <!--业务部经办人(信托经理)-->
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.be3910515f9711e68e53b888e3e688de] }}</td>
            <!--业务部负责人-->
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.be3910515f9711e68e53b888e3e688de] }}</td>
            <!--合规风险部-->
            <td>---------</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>(1)是否向银监局报备（事前、关联、异地）;(2)是否通过预登记审批</td>
            <td>合规风险部</td>
            <td>----------</td>
            <td>----------</td>
            <!--合规风险部-->
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.dabb57b05f9711e69f08b888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>担保措施及承诺函是否办理完全</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.f7d376705f9711e6afb0b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.f7d376705f9711e6afb0b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.f7d376705f9711e6afb0b888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>交易文件签署是否齐备（主要合同及担保合同）</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.o220f1c05f9811e68f9ab888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.o220f1c05f9811e68f9ab888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.o220f1c05f9811e68f9ab888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td>法律意见书</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ json_data.T16D12D1A5D3406D9CC65A76AD7691B1.ofbb75305f9811e6b61cb888e3e688de }}</td>
            <td>{{ json_data.PBB558EE7E914339B01828AC11437874.ofbb75305f9811e6b61cb888e3e688de }}</td>
            <td>{{ json_data.D6887042FAD54274857C6A48018A820F.ofbb75305f9811e6b61cb888e3e688de }}</td>
            <td></td>
        </tr>
        <tr>
            <td>6</td>
            <td>终审意见是否全部落实</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.pc5997405f9811e6bf9eb888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.pc5997405f9811e6bf9eb888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.pc5997405f9811e6bf9eb888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>7</td>
            <td>是否取得东方总公司风险部业务额度批复意见（如需）</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.qc2f64ae5f9811e690e4b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.qc2f64ae5f9811e690e4b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.qc2f64ae5f9811e690e4b888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>8</td>
            <td>交易合同及有关法律文件是否面签（如需）</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.r6cdbf1e5f9811e696b6b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.r6cdbf1e5f9811e696b6b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.r6cdbf1e5f9811e696b6b888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>终审过会通知单是否批复</td>
            <td>信托业务部<br>合规风险部</td>
            <td>{{ dict_yes_or_no[json_data.T16D12D1A5D3406D9CC65A76AD7691B1.s57ebb9e5f9811e69ea9b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.PBB558EE7E914339B01828AC11437874.s57ebb9e5f9811e69ea9b888e3e688de] }}</td>
            <td>{{ dict_yes_or_no[json_data.D6887042FAD54274857C6A48018A820F.s57ebb9e5f9811e69ea9b888e3e688de] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td>其他</td>
            <td colspan="5">
                <table>
                    <thead>
                        <th>其他1</th>
                        <th>其他2</th>
                        <th>其他3</th>
                        <th>备注7</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="6">
                财富管理中心接收签字：<br>
                最终发行条件：<br>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="6">
                公司领导审批：
            </td>
        </tr>
    </tbody>
</table>
<style type="text/css">
    #node_table {
        width: 770px;
        border: 1px solid black;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
</style>