<div>
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目中后期重大事项签报表</b></h2>
    <span style="margin-left:20px;float:left"><b>签报日期：{{ json_data.r327555e201411e7bb5b005056a687a8 | dateFormat }}</b></span>
	<span style="margin-right:20px;float:right"><b>项目编号：{{ project_info.REGITEM_CODE }}</b></span>
    <table id="node_table">
        <tbody>
            <tr>
                <td width="15%">项目名称</td>
                <td width="35%">{{ project_info.REGITEM_NAME }}</td>
                <td width="15%">成立日期</td>
                <td width="35%">{{ project_info.CPSTART_DATE | dateFormat}}</td>
            </tr>
            <tr>
                <td>申报部门</td>
                <td>{{ project_info.REGITEM_DP_NAME }}</td>
                <td>责任经理</td>
                <td>{{ project_info.REGITEM_OP_NAME }}</td>
            </tr>
            <tr>
                <td>终审委员/<br>公司领导</td>
                <td colspan="3">{{ json_data.oabb32a17d9c11e7a6e7000c294af360 }}</td>
            </tr>
            <tr>
                <td>申请事项</td>
                <td colspan="3">{{ json_data.tf323f80471611e6bf9b184f32ca6b12 }}</td>
            </tr>
            <tr>
                <td>重大事项描述</td>
                <td colspan="3">{{ json_data.tf323f80471611e6bf9b184f32ca6bca }}</td>
            </tr>
            <tr>
                <td>重大事项风险评估</td>
                <td colspan="3">{{ json_data.aef7d930471611e6b902184f32ca6bca }}</td>
            </tr>
        </tbody>
    </table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>