<div style="width:800px">
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目付款申请书</b></h2>
	<span style="margin-left:20px;float:left"><b>申报日期：</b></span>
	<span style="margin-right:20px;float:right"><b>项目编号：</b></span>
	<table id="node_table">
		<tbody>
			<tr>
				<td width="15%">出款项目名称</td>
				<td width="35%" colspan="2"></td>
				<td width="15%">收款单位名称</td>
				<td width="35%" colspan="2"></td>
			</tr>
			<tr>
				<td>出款项目银行</td>
				<td colspan="2">{{ pa_info.FK_BANK_NAME }}</td>
				<td>收款单位银行</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>出款银行账号</td>
				<td colspan="2"></td>
				<td>收款银行账号</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>投资类别</td>
				<td width="17.5%"></td>
				<td width="17.5%">放款金额</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>摘要</td>
				<td colspan="5"></td>
			</tr>
			<tr>
				<td>信保基金认购主体</td>
				<td></td>
				<td>是否扣留信保基金</td>
				<td width="17.5%"></td>
				<td width="17.5%">合同收益率/利率</td>
				<td></td>
			</tr>
			<tr>
				<td>付款执行日期</td>
				<td></td>
				<td>本笔放款到期日期</td>
				<td></td>
				<td>划款方式</td>
				<td></td>
			</tr>
			<tr>
				<td>
					实际付款金额<br>（小写）
				</td>
				<td></td>
				<td>金额(大写)</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td>申请部门</td>
				<td colspan="2"></td>
				<td></td>
				<td>申请人</td>
				<td colspan="2"></td>
			</tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>