<div style="width:800px">
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目付款申请书</b></h2>
	<span style="margin-left:20px;float:left"><b>申报日期：{{ pa_info.APPLY_DATE }}</b></span>
	<span style="margin-right:20px;float:right"><b>项目编号：{{ project_info.REGITEM_CODE }}</b></span>
	<table id="node_table">
		<tbody>
			<tr>
				<td width="15%">出款项目名称</td>
				<td width="35%" colspan="2">{{ pa_info.REGITEM_NAME }}</td>
				<td width="15%">收款单位名称</td>
				<td width="35%" colspan="2">{{ pa_info.CUST_NAME }}</td>
			</tr>
			<tr>
				<td>出款项目银行</td>
				<td colspan="2">{{ pa_info.FK_BANK_NAME }}-{{ pa_info.FK_BANK_SUB_NAME }}</td>
				<td>收款单位银行</td>
				<td colspan="2">{{ pa_info.SK_BANK_NAME }}</td>
			</tr>
			<tr>
				<td>出款银行账号</td>
				<td colspan="2">{{ pa_info.FK_BANK_ACCT }}</td>
				<td>收款银行账号</td>
				<td colspan="2">{{ pa_info.SK_BANK_ACCT }}</td>
			</tr>
			<tr>
				<td>投资类别</td>
				<td width="17.5%">{% if affair_json['sd752b6e4b5411e7b7a1005056a687a8'] == '1' or affair_json['sd752b6e4b5411e7b7a1005056a687a8'] == '2' or affair_json['sd752b6e4b5411e7b7a1005056a687a8'] == '3' %}消费贷及房抵贷{% else %}证券投资{% endif %}</td>
				<td width="17.5%">放款金额</td>
				<td colspan="3">{{ pa_info.PAY_MONEY }}</td>
			</tr>
			<tr>
				<td>摘要</td>
				<td colspan="5">{{ affair_json['p0a4e06e70d311e698e240f02f0658fc'] }}</td>
			</tr>
			<tr>
				<td>依据文件</td>
				<td colspan="5">{{ affair_json['r852351170d711e6b63740f02f0658fc'] }}</td>
			</tr>
			<tr>
				<td>付款执行日期</td>
				<td>{{ affair_json['o3b14e8f70d711e6893040f02f0658fc'] }}</td>
				<td>信保基金认购主体</td>
				<td>{{ pa_info.PROV_LEVEL_NAME }}</td>
				<td>是否扣留信保基金</td>
				<td width="17.5%">{% if affair_json['c89e208f70d511e6b26c40f02f0658fc'] == '1' %}是{% else %}否{% endif %}</td>
			</tr>
			<tr>
				<td>
					实际付款金额<br>（小写）
				</td>
				<td>{{ pa_info.DKCD_MONEY }}</td>
				<td>金额(大写)</td>
				<td colspan="3">{{ pa_info.C_DKCD_MONEY }}</td>
			</tr>
			<tr>
				<td>划款方式</td>
				<td>{{ pa_info.REMIT_NAME }}</td>
				<td>申请部门</td>
				<td>{{ pa_info.DEPT_NAME }}</td>
				<td>申请人</td>
				<td>{{ pa_info.INPUT_MAN_NAME }}</td>
			</tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>