<div style="width:800px">
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目立项申报表</b></h2>
	<span style="margin-left:20px;float:left"><b>申报日期：{{ project_info.APPLY_DATE | dateFormat }}</b></span>
	<span style="margin-right:20px;float:right"><b>项目编号：{{ project_info.REGITEM_CODE }}</b></span>
	<table id="node_table">
		<tbody>
			<tr>
				<td width="12.5%"><b>项目名称</b></td>
				<td width="37.5%">{{ project_info.REGITEM_NAME }}</td>
				<td width="12.5%"><b>项目类别</b></td>
				<td width="37.5%">{{ project_info.REGITEM_TYPE }}</td>
			</tr>
			<tr>
				<td><b>申报部门</b></td>
				<td>{{ project_info.REGITEM_DP_NAME }}</td>
				<td><b>责任经理</b></td>
				<td>{{ project_info.REGITEM_OP_NAME }}</td>
			</tr>
			<tr>
				<td rowspan="10"><b>项目内容简介</b><b>（包括项目合作方信息、融资、规模、初步交易结构、风控措施等内容）</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（项目合作方情况）</b></p>
						<p>{{ project_info.TQFS_ZFSJ }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（融资规模及期限）</b></p>
						<p>{{ project_info.TERMANDSUM }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（融资成本及公司收益率）</b></p>
						<p>{{ project_info.XTCDFY }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（初步交易结构）</b></p>
						<p>{{ project_info.FXKZ_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（还款来源）</b></p>
						<p>{{ project_info.TJFS_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（担保措施）</b></p>
						<p>{{ project_info.FY_SP_SJ }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（其他风控措施）</b></p>
						<p>{{ project_info.RISK_CONTROL }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>项目团队人员构成（不少于2名正式员工）：</b></p>
						<p>{{ project_info.TZFW_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>是否存在关联方交易情况，请简要说明，并在尽职调查报告中进行专节详细说明，如不存在关联方交易情况，无需在尽职调查报告中进行专门说明）</b></p>
						<p>{{ project_info.TZCL_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="textDiv">
						<p><b>（其他事项）</b></p>
						<p>{{ project_info.TZBL_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<a href="/x/intrustqlc/views/printXMYSD?affa_id={{ affa_id }}">项目预审单</a>
					<a href="/x/intrustqlc/views/printZSJGTZD?affa_id={{ affa_id }}">终审结果通知单</a>
					<a href="/x/intrustqlc/views/printFXSHTZS?affa_id={{ affa_id }}">风险审核通知书</a>
					<a href="/x/intrustqlc/views/printZSHYJY?affa_id={{ affa_id }}">终审会议纪要</a>
					<a href="/x/intrustqlc/views/printXTXMPSYJS?affa_id={{ affa_id }}">项目评审意见书</a>
				</td>
			</tr>
		</tbody>
	</table>
<!--
	<div class="notice_div">
		<h2><b>终审结果通知单</b></h2>
		<p style="text-align:left">信托业务部：<b>{{ project_info.REGITEM_DP_NAME }}</b></p>
		<p style="text-align:left;text-indent:2em;">你部报送的<b>{{ project_info.REGITEM_NAME }}</b>（项目编号:<b>{{ project_info.REGITEM_CODE }}</b>）于<b>{{ today }}</b>报公司终审。</p>
		<p style="text-align:left;text-indent:2em;">经公司信托业务审查委员会审查，表决结果为：批准通过实施该项目。现将该终审结果通知你部，请持此通知单按照公司的审批管理相关制度，办理该项目的实施手续。</p>
		<p style="text-align:left;text-indent:2em;">特此通知。</p>
		<p style="text-align:right">信托审查委员会主任委员</p>
		<p style="text-align:right">董事长</p>
		<p style="text-align:right">{{ today }}</p>
	</div>
-->
</div>
<style type="text/css">
	.notice_div {
		border:1px solid #000;
		margin-top:20px;
		padding: 10px 10px;
	}
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>