<div>
	<br>
	<h2><b>信托项目外派人员（董、监事等）表决权行使申请流程</b></h2>
	<table id="node_table">
		<tbody>
            <tr>
                <td width="50%">
                    <div class="textDiv">
                        <p>信托项目名称:</p>
                        <p>{{ project_info.REGITEM_NAME }}</p>
                    </div>
                </td>
                <td width="50%">
                    <div class="textDiv">
                        <p>项目公司名称:</p>
                        <p>{{ json_data.w1163900472811e6ba16184f32ca6b11 }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDiv">
                        <p>表决人:</p>
                        <p>{{ json_data.x58472f0472b11e69e97184f32ca6bca }}</p>
                    </div>
                </td>
                <td>
                    <div class="textDiv">
                        <p>申请部门:</p>
                        <p>{{ project_info.REGITEM_DP_NAME }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="textDiv">
                        <p>会议召开形式:</p>
                        <p>{{ json_data.aec9428f472b11e68233184f32ca6bca }}</p>
                    </div>
                </td>
                <td>
                    <div class="textDiv">
                        <p>会议召开时间:</p>
                        <p>{{ json_data.a15077ee472b11e689df184f32ca6bca | dateFormat }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="textDiv">
                        <p>会议议案:</p>
                        <p>{{ json_data.c108e411472b11e68de4184f32ca6bca }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="textDiv">
                        <p>审议意见及说明:</p>
                        <p>{{ json_data.f14a4100472b11e6b959184f32ca6bca }}</p>
                    </div>
                </td>
            </tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>