<div style="width:800px">
	<br>
	<h2><b>信托合同交接记录(集合)表</b></h2>
	<table id="node_table">
		<tbody>
            <tr>
                <td width="50%">信托合同交出日期</td>
                <td width="50%">{{ project_info.REGITEM_NAME }}</td>
            </tr>
            <tr>
                <td>项目编号</td>
                <td>{{ project_info.REGITEM_CODE }}</td>
            </tr>
            <tr>
                <td>项目名称</td>
                <td>{{ project_info.REGITEM_NAME }}</td>
            </tr>
            <tr>
                <td>拟发行规模</td>
                <td>{{ json_data.ta644ccf516c11e7a4da005056a687a8 | moneyFormat }}&nbsp;({{ json_data.ta644ccf516c11e7a4da005056a687a8 | moneyFormatC }})</td>
            </tr>
            <tr>
                <td>拟印制合同份数</td>
                <td>{{ json_data.w4a96021516c11e7a18d005056a687a8 }}</td>
            </tr>
            <tr>
                <td>合同使用期限</td>
                <td>{{ json_data.aae59561516c11e7b147005056a687a8 | dateFormat }}</td>
            </tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>