<div>
    <br>
    <h2>大业信托有限责任公司</h2>
    <h2><b>信托收益账户变更申请表</b></h2>
    <table class="node_table">
        <tbody>
            <tr>
                <td colspan="1">产品名称</td>
                <td colspan="1">{{ product_info.PRODUCT_NAME }}</td>
                <td colspan="1">受益人姓名</td>
                <td colspan="1">{{ json_data.e9875470210a11e88f71005056a687a8 }}</td>
            </tr>
            <tr>
                <td colspan="1">证件号码</td>
                <td colspan="1">{{ json_data.p0f4c140210c11e8ab52005056a687a8 }}</td>
                <td colspan="1">申请日期</td>
                <td colspan="1">{{ json_data.rdd91080210c11e898c3005056a687a8 }}</td>
            </tr>
            <tr>
                <td colspan="1">申请事项</td>
                <td colspan="3">{{ json_data.ta1d8b8f210c11e89266005056a687a8 }}</td>
            </tr>
            <tr>
                <td colspan="4" align="center">原受益账户信息</td>
            </tr>
            <tr>
                <td colspan="1">原收益账户户名:</td>
                <td colspan="1">{{ json_data.a2a6ba80210c11e89551005056a687a8 }}</td>
                <td colspan="1">原收益账户开户行:</td>
                <td colspan="1">{{ json_data.aced89a1210d11e8b02f005056a687a8  }}</td>
            </tr>
            <tr>
                <td colspan="1">原收益账户支行:</td>
                <td colspan="1">{{ json_data.wc27a2c0234a11e88939005056a687a8 }}</td>
                <td colspan="1">原收益账户账号:</td>
                <td colspan="1">{{ json_data.f8540ef0210d11e89d1a005056a687a8  }}</td>
            </tr>
            <tr>
                <td colspan="4" align="center">新受益账户信息</td>
            </tr>
            <tr>
                <td colspan="1">新收益账户户名:</td>
                <td colspan="1">{{ json_data.q3c2d530210e11e88696005056a687a8 }}</td>
                <td colspan="1">新收益账户开户行:</td>
                <td colspan="1">{{ json_data.b4847b00210e11e88a64005056a687a8  }}</td>
            </tr>
            <tr>
                <td colspan="1">新收益账户支行:</td>
                <td colspan="1">{{ json_data.b9dfe3cf234a11e8a5d1005056a687a8 }}</td>
                <td colspan="1">新收益账户账号:</td>
                <td colspan="1">{{ json_data.s0a84e1e21b111e8b1b7005056a687a8  }}</td>
            </tr>

        </tbody>
    </table>
</div>
<style type="text/css">
    .node_table {
        width: 100%;
        border: 1px solid black;
        text-align: left;
    }
    .node_table td,.node_table th {
        padding: 5px;
        border: 1px solid black;
    }
    h2 {
        text-align: center;
    }
    .textDiv {
        height: 100%;
        width: 100%;
    }
</style>