<div>
	<br>
	<h2><b>信托业务章、印鉴使用记录单</b></h2>
	<span style="margin-left:20px;float:left"><b>申报日期：{{ project_info.APPLY_DATE }}</b></span>
	<span style="margin-right:20px;float:right"><b>编号：{{ project_info.REGITEM_CODE }}</b></span>
	<table class="node_table">
		<tbody>
			<tr>
				<td width="20%"><b>所在部门</b></td>
				<td width="32.5%">{{ project_info.REGITEM_DP_NAME }}</td>
				<td width="15%"><b>申请人员</b></td>
				<td width="32.5%">{{ project_info.REGITEM_OP_NAME }}</td>
			</tr>
			<tr>
				<td><b>项目编号</b></td>
				<td>{{ project_info.REGITEM_CODE }}</td>
				<td><b>项目名称</b></td>
				<td>{{ project_info.REGITEM_NAME }}</td>
			</tr>
			<tr>
				<td><b>印章用途</b></td>
				<td colspan="3">{% if json_data.f135b2f24c3711e78a02000c294af360=='1' %}合同签约印章{% elif json_data.f135b2f24c3711e78a02000c294af360=='2' %}信托开户{% elif json_data.f135b2f24c3711e78a02000c294af360=='3' %}信息报送{% elif json_data.f135b2f24c3711e78a02000c294af360=='4' %}采购合同用章{% elif json_data.f135b2f24c3711e78a02000c294af360=='9' %}其他{% endif %}</td>
			</tr>
			<tr>
				<td><b>使用方式</b></td>
				<td colspan="3">{% if json_data.o927c991565911e79ce5000c294af360=='1' %}使用{% else %}外借{% endif %}</td>
			</tr>
			<tr>
				<td><b>印章类型</b></td>
				<td colspan="3">{% if json_data.f135b2f54c3711e78b0a000c294af360=='1' %}信托业务章{% elif json_data.f135b2f54c3711e78b0a000c294af360=='2' %}王毅总人名章(北京){% elif json_data.f135b2f54c3711e78b0a000c294af360=='3' %}王毅手签章{% elif json_data.f135b2f54c3711e78b0a000c294af360=='4' %}信托业务章(二){% elif json_data.f135b2f54c3711e78b0a000c294af360=='5' %}王毅总人名章(广州){% endif %}</td>
			</tr>
            <tr>
                <td>具体说明</td>
                <td colspan="3">{{ json_data.f135b2f44c3711e788dd000c294af360 }}</td>
            </tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    .node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    .node_table td,.node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>