<div>
	<br>
	<h2><b>信托资金/销售资金监管使用申请流程</b></h2>
	<table class="node_table">
		<tbody>
			<tr>
				<td width="25%">信托项目名称</td>
				<td width="25%">{{ project_info.REGITEM_NAME }}</td>
				<td width="25%">成立时间</td>
				<td width="25%">{{ project_info.REGITEM_DP_NAME }}</td>
			</tr>
            <tr>
                <td>申请部门</td>
                <td>{{ project_info.REGITEM_DP_NAME }}</td>
                <td>责任经理</td>
                <td>{{ project_info.REGITEM_OP_NAME+','+ project_info.OPER_MANAGER_NAME2 }}</td>
            </tr>
            <tr>
                <td>资金使用说明</td>
                <td colspan="3">{{ json_data.s9e47e61473c11e6a717184f32ca6bca }}</td>
            </tr>
            <tr>
                <td>监管资金总额（适用于信托资金监管）</td>
                <td>监管资金余额</td>
                <td colspan="2">申请使用金额</td>
            </tr>
            <tr>
                <td>{{ json_data.t87fa8ee473c11e6a705184f32ca6bca | moneyFormat }}</td>
                <td>{{ json_data.u30aa270473c11e6803e184f32ca6bca | moneyFormat }}</td>
                <td colspan="2">{{ json_data.uf4bfe80473c11e6b38c184f32ca6bca | moneyFormat }}</td>
            </tr>
            <tr>
                <td>印鉴</td>
                <td colspan="3">{{ json_data.vd7cce80473c11e69dfd184f32ca6bca }}</td>
            </tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    .node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    .node_table td,.node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>