<div>
	<br>
	<table class="node_table">
		<tbody>
            <tr>
                <td>项目名称</td>
                <td>{{ json_data.ad282040472c11e69d1a184f32ca6bca }}</td>
            </tr>
            <tr>
                <td>用印类型</td>
                <td>
                    {% if json_data.bc686470472c11e683f9184f32ca6bca=='1' %}
                    普通用印
                    {% elseif json_data.bc686470472c11e683f9184f32ca6bca=='2' %}
                    存档类
                    {% elseif json_data.bc686470472c11e683f9184f32ca6bca=='3' %}
                    财务类
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>用印信息</td>
                <td>
                    <table class="node_table">
                        <tbody>
                            <tr>
                                <td>文件名称</td>
                                <td>份数</td>
                                <td>印章类型</td>
                                <td>专用章</td>
                            </tr>
                            {% for a in apprpvalsela %}
                            <tr>
                                <td>{{ a.FILE_NAME }}</td>
                                <td>{{ a.NUMBER }}</td>
                                <td>{{ a.SEAL_TYPE_NAME }}</td>
                                <td>{{ a.SPECAL_CHAPTER}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>具体说明</td>
                <td>{{ json_data.f53e1f4f12b111e7b173005056a60fd8 }}</td>
            </tr>
		</tbody>
	</table>
</div>
<style type="text/css">
    .node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    .node_table td,.node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>