<table id="node_table">
    <tbody>
        <tr>
            <td width="15%">项目名称</td>
            <td width="35%"></td>
            <td width="15%">终审日期</td>
            <td width="35%"></td>
        </tr>
        <tr>
            <td>申报部门</td>
            <td></td>
            <td>责任经理</td>
            <td></td>
        </tr>
        <tr>
            <td>终审委员</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>项目反感变更情况描述</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>项目反感变更的风格评估</td>
            <td colspan="3"></td>
        </tr>
    </tbody>
</table>
<style type="text/css">
    #node_table {
        width: 100%;
        border: 1px solid black;
		text-align: left;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>