<div>
	<br>
	<h2>大业信托有限责任公司</h2>
	<h2><b>信托项目签报申报表</b></h2>
	<span style="margin-left:20px;float:left"><b>申报日期：{{ project_info.APPLY_DATE | dateFormat }}</b></span>
	<span style="margin-right:60px;float:right"><b>项目编号：{{ project_info.REGITEM_CODE }}</b></span>
	<table id="node_table">
		<tbody>
			<tr>
				<td width="12.5%"><b>项目名称</b></td>
				<td width="37.5%">{{ project_info.REGITEM_NAME }}</td>
				<td width="12.5%"><b>项目类别</b></td>
				<td width="37.5%">{{ project_info.REGITEM_TYPE }}</td>
			</tr>
			<tr>
				<td><b>申报部门</b></td>
				<td>{{ project_info.REGITEM_DP_NAME }}</td>
				<td><b>责任经理</b></td>
				<td>{{ project_info.REGITEM_OP_NAME+','+ project_info.OPER_MANAGER_NAME2  }}</td>
			</tr>
			<tr>
				<td><b>项目基本情况描述</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.XMHKLY }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>融资规模及期限</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.TERMANDSUM }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>公司预期收益及成本</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.JHBZCS }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>项目风险状况及控制措施描述</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.BJSYHKSJ }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>是否存在关联方交易情况</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.TZCL_INFO }}</p>
					</div>
				</td>
			</tr>
			<tr>
				<td><b>其他风控措施</b></td>
				<td colspan="3">
					<div class="textDiv">
						<p>{{ project_info.RISK_CONTROL }}</p>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="4" align="center">
				{% if project_info.TYPE3 == '113801' %}
					{% if project_info.TYPE1 == '2' %}
						<a href="/x/intrustqlc/views/printJHXMQB?affa_id={{ affa_id }}">集合项目签报</a>
					{% endif %}
					{% if project_info.TYPE1 == '1' %}
						{% if project_info.PRE_MONEY >= 1500000000 %}
							<a href="/x/intrustqlc/views/printDYXMQB?affa_id={{ affa_id }}">单一项目签报(15亿及以上)</a>
						{% else %}
							<a href="/x/intrustqlc/views/printDYXMQB_CCQ?affa_id={{ affa_id }}">单一项目签报(15亿以下)</a>
						{% endif %}
					{% endif %}
				{% endif %}
				</td>
			</tr>

		</tbody>
	</table>
</div>
<style type="text/css">
    #node_table {
        width: 95%;
        border: 1px solid black;
		text-align: left;
        letter-spacing: 0.1em;
    }
    #node_table td,#node_table th {
        padding: 5px;
        border: 1px solid black;
    }
	h2 {
		text-align: center;
	}
	.textDiv {
		height: 100%;
		width: 100%;
	}
</style>